<!DOCTYPE html>
<html lang="vi">

<head>
  <%- include("../templates/head"); %>
</head>

<body>
  <div class="container-xxl bg-white p-0">
    <div class="container-xxl position-relative p-0">
      <%- include("../templates/header"); %>

      <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container my-5 py-5">
          <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
              <h1 class="display-3 text-white animated slideInLeft">Hệ thống<br>SPSS</h1>
              <p class="text-white animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
              <img class="img-fluid" src="/img/hero.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar & Hero End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item rounded pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                <h5>Master Chefs</h5>
                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item rounded pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                <h5>Quality Food</h5>
                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item rounded pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                <h5>Online Order</h5>
                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-item rounded pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                <h5>24/7 Service</h5>
                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container">
        <div class="text-center">
          <h5 class="section-title ff-secondary text-center text-primary fw-normal">Testimonial</h5>
          <h1 class="mb-5">Our Clients Say!!!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
          <div class="testimonial-item bg-transparent border rounded p-4">
            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
            <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
            <div class="d-flex align-items-center">
              <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/testimonial-1.jpg" style="width: 50px; height: 50px;">
              <div class="ps-3">
                <h5 class="mb-1">Client Name</h5>
                <small>Profession</small>
              </div>
            </div>
          </div>
          <div class="testimonial-item bg-transparent border rounded p-4">
            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
            <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
            <div class="d-flex align-items-center">
              <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/testimonial-2.jpg" style="width: 50px; height: 50px;">
              <div class="ps-3">
                <h5 class="mb-1">Client Name</h5>
                <small>Profession</small>
              </div>
            </div>
          </div>
          <div class="testimonial-item bg-transparent border rounded p-4">
            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
            <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
            <div class="d-flex align-items-center">
              <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/testimonial-3.jpg" style="width: 50px; height: 50px;">
              <div class="ps-3">
                <h5 class="mb-1">Client Name</h5>
                <small>Profession</small>
              </div>
            </div>
          </div>
          <div class="testimonial-item bg-transparent border rounded p-4">
            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
            <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam</p>
            <div class="d-flex align-items-center">
              <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/testimonial-4.jpg" style="width: 50px; height: 50px;">
              <div class="ps-3">
                <h5 class="mb-1">Client Name</h5>
                <small>Profession</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

    <%- include("../templates/footer"); %>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>

  <%- include("../templates/script"); %>

</body>

</html>